<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whut.apiplatform.core.mapper.UserInterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.whut.apiplatform.model.entity.UserInterfaceInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="totalNum" column="total_num" jdbcType="INTEGER"/>
            <result property="leftNum" column="left_num" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="CHAR"/>
    </resultMap>

    <select id="getLeftNum" resultType="java.lang.Integer">
        select left_num
        from user_interface_info
        where is_delete = '0'
          and interface_info_id = #{interfaceInfoId}
    </select>
    <select id="getUserIdByInterfaceInfoId" resultType="com.whut.apiplatform.model.entity.UserInterfaceInfo">
        select user_id
        from user_interface_info
        where is_delete = '0'
          and interface_info_id = #{interfaceInfoId}
    </select>
</mapper>
